buildspecs
Jenkinsfile
*.tar.gz
bin/
release/
create_assets/
depends_linux
xbuild_scripts/
*.exe
src/soteria
src/soteriad
src/soteria-cli
src/soteria-tx
.idea/
src/test/test_soteria
src/test/test_soteria_fuzzy
src/test/test_soteria_hash
src/qt/test/test_soteria-qt
src/bench/bench_soteria
.vscode
.vscode/*
output.txt
1.sh
.tx/
.vs/
.vscode/
db4/
db-4.8.30.NC/
# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
configure~
libtool
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
src/config/soteria-config.h
src/config/soteria-config.h.in
src/univalue/gen
soteria_test/
db-4.8.30.NC.tar.gz
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h
src/qt/test/moc*.cpp
.settings
.cproject
.project
.vscode
.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.Po
*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
soteria-qt
Soteria-Qt.app
src/qt/.qtc_clangd

# Unit-tests
Makefile.test
soteria-qt_test
src/test/buildenv.py
# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_soteria.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
xbuild_scripts
!src/leveldb*/Makefile
.pydevproject
/doc/doxygen/
qa/pull-tester/tests_config.py
qa/cache/*
libsoteriaconsensus.pc
contrib/devtools/split-debug.sh
.idea
cmake-build-debug
community/
CMakeLists.txt
1.sh
# qtcreator
.qtc_clangd
Soteria.cflags
Soteria.config
Soteria.creator
Soteria.cxxflags
Soteria.files
Soteria.includes
Soteria.creator.user
# Snapcraft
parts/
prime/
stage/
*.snap

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
