
## <summary>policy for soteria</summary>


########################################
## <summary>
##	Transition to soteria.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`soteria_domtrans',`
	gen_require(`
		type soteria_t, soteria_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, soteria_exec_t, soteria_t)
')


########################################
## <summary>
##	Execute soteria server in the soteria domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`soteria_initrc_domtrans',`
	gen_require(`
		type soteria_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, soteria_initrc_exec_t)
')


########################################
## <summary>
##	Search soteria lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`soteria_search_lib',`
	gen_require(`
		type soteria_var_lib_t;
	')

	allow $1 soteria_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read soteria lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`soteria_read_lib_files',`
	gen_require(`
		type soteria_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, soteria_var_lib_t, soteria_var_lib_t)
')

########################################
## <summary>
##	Manage soteria lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`soteria_manage_lib_files',`
	gen_require(`
		type soteria_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, soteria_var_lib_t, soteria_var_lib_t)
')

########################################
## <summary>
##	Manage soteria lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`soteria_manage_lib_dirs',`
	gen_require(`
		type soteria_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, soteria_var_lib_t, soteria_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a soteria environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`soteria_admin',`
	gen_require(`
		type soteria_t;
		type soteria_initrc_exec_t;
		type soteria_var_lib_t;
	')

	allow $1 soteria_t:process { ptrace signal_perms };
	ps_process_pattern($1, soteria_t)

	soteria_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 soteria_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, soteria_var_lib_t)

')

